<div class="focus-page" id="focusTop">

  <!-- input view -->
  <input class="task-label" ng-model="task.title" placeholder="Ange aktivitet..." ng-show="created&&view==='input'">

  <!-- input view -->
  <p class="task-label" ng-show="!crated&&view==='input'||view=='focus'">{{task.title}}</p>

  <!-- review view -->
  <button ng-show="view==='review'" ng-click="restartTimer()">Starta timer igen</button>

  <!-- view 1 -->
  <div id="duration-picker" ng-show="view==='input'"><!--
  --><label>timmar</label><!--
  --><label>minuter</label><!--
  --><br><!--
  --><input type="number" placeholder="0" ng-model="hours"><!--
  --><input type="number" placeholder="0" ng-model="minutes"><!--
  --><br><!--
  --><button ng-show="task.title" ng-click="setTime()">Börja fokusera <b>endast</b> på uppgiften</button>
  </div>

  <!-- focusing view -->
  <div id="pie-timer" ng-show="view==='focus'">
    <div ng-click="stopTimer()" id="timer">
      <div id="slice" ng-class="{gt50:degrees>180}">
        <div class="pie" ng-style="{transform:'rotate('+degrees+'deg)','-webkit-transform':'rotate('+degrees+'deg)'}"></div>
        <div class="pie fill" ng-show="degrees>180"></div>
      </div>
    </div>
    <br>
    <span>
      <span ng-bind="hoursLeft?hoursLeft+' :':''"></span>
      <span ng-bind="hoursLeft?(minutesLeft<10?'0'+minutesLeft:minutesLeft):minutesLeft"></span> :
      <span ng-bind="secondsLeft<10?'0'+secondsLeft:secondsLeft"></span>
    </span>
  </div>

  <form class="add-task" ng-show="view==='focus'">
    <div><input ng-model="newTask" placeholder="Skriv in, glöm och fortsätt fokusera!"></div>
    <button ng-click="addTask(newTask)&&(newTask=''||showDistractionListForXSeconds())"><i class="fa fa-plus"></i></button>
  </form>
  <div id="distraction-list" ng-show="$tasks.distractionListTasks(loadFocusTime).length>0">
    <span ng-click="showDistractionListForXSeconds()"><i class="fa fa-ban"></i> Distraktionslista</span>
    <p ng-if="view==='review'&&showMainTask">Fortsätt fokusera genom att starta timern igen eller gå igenom allt på Distraktionslistan och aktiviteten du nyss jobbat med.</p>
    <ul ng-show="showDistractionList" ng-class="{'disabled':view==='focus'}">
      <li ng-show="view==='review'&&!task.complete&&!task.deleted&&showMainTask" class="list-item current-task" ida-item="task"></li>
      <li class="list-item" ng-repeat="dtask in $tasks.distractionListTasks(loadFocusTime)|orderBy:['-updated'] track by $index" ida-item="dtask"></li>
    </ul>
  </div>

  <div class="distraction-list-empty" ng-show="view==='review'&&$tasks.distractionListTasks(loadFocusTime).length===0">
    <ul><li ng-show="!task.complete&&!task.deleted" class="list-item current-task" ida-item="task"></li></ul>
    <p>
      Du har gått igenom hela Distraktionslistan. Bra jobbat!
      <a ng-href="#/todo">Till Att Göra-listan</a>
    </p>
  </div>

  <br>
  <span id="focusBottom"></span>
</div>
