<li class="list-item">
  <div ng-class="{ 'checked': task.checked,
    'is-parent': task.isParent,
    'is-child': task.isChild,
    'finished': task.finished,
    'deleted': task.deleted,
    'show-children': task.showChildren,
    'expanded': task.expanded,
    'has-child-task-controls': $root.page.indexOf('/organisera-alla-aktiviteter') === 0,
    'warning': !task.finished&&!task.deleted&&task.startTime&&Date.now().valueOf()>((task.endTime||task.startTime)+(task.timeType==='period'?14400000:0))}">

    <button class="caret" ng-click="task.showChildren=!task.showChildren"></button>

    <div>
      <div class="sub-task-ctrls">
        <button class="make-sub-task" ng-click="$root.setModal('templates/modal.pick_parent_task.html', task.id).then($root.reload)"></button>
        <button ng-click="$parent.addTask(task.id)" class="add-sub-task"></button>
        <button ng-click="$root.$tasks.detachChild(task.id);$root.reload()" class="make-free-task"></button>
      </div>

      <div class="right">
        <div class="checkbox-wrapper"
              ng-click="$root.completeTask(task)"
              ng-hide="task.finished||task.deleted">
          <div class="checkbox"><i class="fa fa-check" ng-show="task.checked"></i></div>
        </div>

        <div class="right">
          <span class="parent-task">{{task.parent}}</span>
          <span class="alert" ng-show="task.reminder" ng-if="!task.finished&&!task.deleted" ng-class="{'overdue':isOverdue()}" ng-click="alertClick()">{{task.planned?moment(task.reminderTime).format('D/M, HH:mm'):task.timeRemaining}}</span>

          <span class="task-text"
                ng-click="task.expanded=!task.expanded"
                ida-hold="newTaskTitle=task.title;$root.setModal('templates/modal.edit_task_name.html', task.id);">
            <span ng-show="task.planned" class="prio">{{durationLabel(task)}}</span>
            <span ng-bind="(task.timeType==='exact'&&task.planned?'('+priorityLabel(task)+'):':'')+task.title"></span>
          </span>

          <span class="time-label">{{timeLabel(task)}}</span>

          <div class="actions">
            <button ng-hide="task.finished||task.deleted"
                    ng-click="$root.editTask(task.id)">
              <i class="fa fa-calendar"></i>
              Planera
            </button>
            <button ng-hide="task.finished||task.deleted"
                    ng-click="$parent.$parent.preventConfirmation = true; $root.focus(task.id)">
              <i class="fa fa-clock-o"></i>
              Fokusera
            </button>
            <button ng-show="task.planned&&!task.finished&&!task.deleted"
                    ng-click="$root.setModal('templates/modal.later.html', task.id)">
              <i class="fa fa-angle-double-right"></i>
              Påminn mm
            </button>
            <button ng-hide="task.planned||task.finished||task.deleted||$root.page.indexOf('/fokusera-pa-aktivitet')===0"
                    ng-click="$root.setModal('templates/modal.timer.html', task.id).then($root.reload)">
              <i class="fa fa-bell-o"></i>
              Påminn
            </button>
            <button ng-hide="task.finished||task.deleted"
                    ng-click="$root.setModal('templates/modal.delete.html', task.id).then($root.getTodoList)">
              <i class="fa fa-trash-o"></i>
              Radera
            </button>
            <button ng-show="task.finished||task.deleted" ng-click="$scope.$root.editTask(task.id);">
              <i class="fa fa-level-up"></i>
              Återställ <!-- Re-plan a task that is in the archive -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="children" ng-class="{'show': task.showChildren }" ida-item-children="task"></ul>
</li>
