<div class="timer-modal">
  <div>
    <button class="cancel" ng-click="modal.$dismiss()"><i class="fa fa-times"></i></button>

    <h1>När vill du bli påmind?</h1>

    <h2 class="modal-sub-heading">
      <span>{{modal.task.title}}</span>
    </h2>

    <div class="divider"></div>

    <div ng-hide="modal.task.reminderTime > Date.now()">
      <div class="time-inputs" ng-init="$timer.timerHours=0;$timer.timerMinutes=30;$timer.type='period'">
        <label class="time-options">
          <select ng-model="$timer.type">
            <option value="period">Påminn om</option>
            <option value="today">Idag klockan</option>
            <option value="other">Påminn imorgon eller senare</option>
          </select>
        </label>
        <div class="time-picker" ida-timepicker model-hours="$root.$timer.timerHours" model-minutes="$root.$timer.timerMinutes" ng-show="$timer.type!=='other'"></div>
      </div>
      <br>
      <button class="start" ng-disabled="modal.$lock" ng-click="($timer.type==='period' ? modal.task.setTimer(Date.now().valueOf() + (($timer.timerMinutes || 0) * 60000) + (($timer.timerHours || 0) * 3600000)) : modal.task.setTimer(moment(Date.now()).hour($timer.timerHours).minute($timer.timerMinutes).seconds(0).millisecond(0).valueOf()));modal.$close('start');">Starta</button>
    </div>

    <div ng-show="modal.task.reminderTime > Date.now()" class="timer">
      <div>{{modal.task.timeRemaining}}</div>
      <div class="buttons">
        <button class="clear" ng-disabled="modal.$lock" ng-click="modal.task.setTimer();modal.$close('remove');">Ta bort påminnelse</button>
        <button class="clear" ng-click="modal.task.setTimer();">Ändra tid</button>
      </div>
    </div>

  </div>
</div>
