<div ida-calendar="modalTask.reminderTime" calendar-task="modalTask" class="calendar-page date-picker">
  <div class="confirmation">
    <span ng-bind="(time ? $root.moment(time).format('D MMMM YYYY') : '')"></span>
    <div ida-timepicker model-minutes="$minutes" model-hours="$hours"></div>
    <div class="modal-buttons">
	    <button ng-click="$root.setDatepicker('');$root.setModal('templates/modal.later.html',task.id)">Ångra</button>
	    <button class="main" ng-click="task.reminderTime = $root.moment(time).hours($hours || 0).minutes($minutes || 0).seconds(0).milliseconds(0).valueOf();$root.replan(task,$hours||0,$minutes||0);$root.setDatepicker('')" ng-disabled="!time">Klar</button>
	</div>
  </div>
</div>
