<div ida-calendar="modal.task.reminderTime" calendar-task="modal.task" class="calendar-page date-picker">
  <div class="confirmation">
  	<div><b>Påminn om {{task.title}}</b></div>
    <span ng-bind="(time ? $root.moment(time).format('D MMMM YYYY') : '')"></span>
    <div ida-timepicker model-minutes="$minutes" model-hours="$hours"></div>
    <div class="modal-buttons">
	    <button ng-click="$root.datepicker.$close(time, 100);$root.setModal('templates/modal.postpone.html',task)">Ångra</button>
	    <button class="main" ng-click="task.reminderTime=$root.moment(time).hours($hours||0).minutes($minutes||0).startOf('minute').valueOf();$root.replan(task,$hours||0,$minutes||0);$event.stopPropagation();$root.datepicker.$close(time, 100)" ng-disabled="!time||modal.$lock">Klar</button>
	</div>
  </div>
</div>
