<div class="pick-parent-task-modal">
  <button class="cancel" ng-click="modal.$dismiss()"><i class="fa fa-times"></i></button>

  <div class="child-task">
    <h2>Underaktivitet:</h2>
    <p>
      <b ng-bind="(modal.task.important ? 'A' : 'B') + (modal.task.complex ? (modal.task.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modal.task.title"></span>
    </p>
    <i class="fa fa-long-arrow-down fa-2x"></i>
  </div>

  <h2>Välj huvudaktivitet</h2>

  <ul>
    <li ng-repeat="task in $tasks.where({ deleted: false, finished: false, isChild: false, planned: true }) track by $index"
        ng-if="task.id != modal.task.id"
        ng-class="{ active: selected === task }"
        ng-click="$parent.$parent.selected = task">
      <b ng-bind="(task.important ? 'A' : 'B') + (task.complex ? (task.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="task.title"></span>
    </li>
  </ul>

  <div class="confirmation">
    <button ng-disabled="!selected||modal.$lock" ng-click="
      modal.task.expanded=false;
      modal.task.expanded = true;
      modal.task.isChild = true;
      modal.task.parent = selected.title;
      selected.isParent = true;
      selected.children.push(modal.task.id);
      $tasks.save();
      modal.$close(true)">Klar</button>
  </div>

</div>
