<div class="timer-modal">
  <div>
    <button class="cancel" ng-click="modal.$dismiss()"><i class="fa fa-times"></i></button>

    <h1>När vill du bli påmind?</h1>

    <h2 class="modal-sub-heading">
      <span>{{modal.task.title}}</span>
    </h2>

    <div class="divider"></div>

    <div ng-hide="modal.task.reminderTime > Date.now()">
      <div class="time-inputs" ng-init="$root.$timerType='period'">
        <label class="time-options">
          <select ng-model="$root.$timerType">
            <option value="period">Påminn om</option>
            <option value="today">Idag klockan</option>
            <option value="other">Påminn imorgon eller senare</option>
          </select>
        </label>
        <div class="time-picker" ida-timepicker="duration" model-hours="$root.$timerHours" model-minutes="$root.$timerMinutes" ng-if="$root.$timerType==='period'" ng-init="$root.$timerHours=0;$root.$timerMinutes=30;"></div>
        <div class="time-picker" ida-timepicker model-hours="$root.$timerHours" model-minutes="$root.$timerMinutes" ng-if="$root.$timerType==='today'" ng-init="$root.$timerHours=moment().add(1, 'hour').hours();$root.$timerMinutes=0;"></div>
      </div>
      <br>
      <button class="start" ng-disabled="modal.$lock" ng-click="($root.$timerType==='period'?modal.task.setTimer(moment().add($root.$timerMinutes||30,'minutes').add($root.$timerHours||0,'hours').startOf('second').valueOf(), true):modal.task.setTimer(moment().hour($root.$timerHours).minute($root.$timerMinutes).startOf('minute').valueOf()));modal.$close('start');">Starta</button>
      <button ng-if="modal.task.reminder" class="clear" ng-disabled="modal.$lock" ng-click="modal.task.setTimer();$tasks.save();modal.$close('remove');">Stäng av påminnelse</button>
    </div>

    <div ng-show="!modal.$lock&&modal.task.reminderTime>Date.now()" class="timer">
      <div>{{modal.task.timer?modal.task.timeRemaining:moment(task.reminderTime).format('HH:mm')}}</div>
      <div class="buttons">
        <button class="clear" ng-disabled="modal.$lock" ng-click="modal.task.setTimer();$tasks.save();modal.$close('remove');">Ta bort</button>
        <button class="clear" ng-click="modal.task.setTimer();$tasks.save();">Ändra tid</button>
      </div>
    </div>

  </div>
</div>
