<div class="later-modal">
  <div>
    <button class="cancel" ng-click="modal.$dismiss()"><i class="fa fa-times"></i></button>

    <h1>Vad vill du göra med aktiviteten?</h1>

    <h2 class="modal-sub-heading">
      <b ng-bind="(modal.task.important ? 'A' : 'B') + (modal.task.complex ? (modal.task.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modal.task.title"></span>
      <span class="time-label" ng-bind="
modal.task.timeType === 'none' ? 'Ingen tid (syns ej i Att-Göra)' : (
  modal.task.startTime && modal.task.planned ? (
    modal.task.timeType === 'period' ?
      moment(modal.task.startTime).format('D MMM') + ' - ' + moment(modal.task.endTime).format('D MMM') :
      moment(modal.task.startTime).format('D MMM')
  ) :
  ' '
)"></span>
    </h2>

    <div class="divider"></div>

    <div class="reminder-in" ng-init="$hoursIn=0;$minutesIn=30;$now=moment(Date.now())">
      <button class="reminder" ng-click="modal.task.reminderTime=Date.now();replan(modal.task, $now.hours()+$hoursIn, $now.minutes()+$minutesIn)">Påminn om</button>
      <span>&nbsp;kl&nbsp;</span>
      <div ida-timepicker model-minutes="$minutesIn" model-hours="$hoursIn"></div>
    </div>
    <div class="reminder-today">
      <button class="reminder" ng-click="$root.setDatepicker('templates/modal.pick_latertime.html')">Påminn viss tid</button>
    </div>
    <button class="breakdown"
            ng-show="!modal.task.isChild"
            ng-click="$location.path('/organisera-alla-aktiviteter/' + modal.task.id);modal.$close('breakdown');">
      Dela upp i mindre uppgifter
    </button>
    <button class="postpone" ng-if="modal.task.timeType==='exact'" ng-click="postpone(modal.task, 1);modal.$close('exact')">Skjut upp till samma tid imorgon</button>
    <button class="postpone" ng-if="modal.task.timeType==='period'&&Math.floor(Date.now()/86400000)<Math.floor(modal.task.endTime/86400000)+1" ng-click="postpone(modal.task, 1);modal.$close('period')">Skjut upp start till imorgon</button>


<!-- 

    <div class="postpone">
      <button ng-click="postpone(modal.task, daysToPostpone)">Skjut upp start</button>
      <input type="number" ng-init="daysToPostpone=3" ng-model="daysToPostpone">
      <span>dagar</span>
    </div>
    <span class="error"
      ng-bind="Date.now() > (modal.task.endTime || modal.task.startTime) ? 'Slutdatumet är passerat' : 'Det är bara ' + Math.round(((modal.task.endTime || modal.task.startTime) - Date.now()) / 86400000) + ' dagar kvar till slutdatumet'"></span>
    <button class="replan">Planera om</button>
    <button class="breakdown"
            ng-show="!modal.task.isChild"
            ng-click="$location.path('/organisera-alla-aktiviteter/' + modal.task.id);setModal('');">
      Dela upp i mindre uppgifter
    </button>
    <button ng-click="setModal('')" class="cancel-2">Avbryt</button>
 -->  </div>
</div>
