<div class="later-modal">
  <div>
    <button class="cancel" ng-click="setModal('')"><i class="fa fa-times"></i></button>

    <h1>Vad vill du göra med aktiviteten?</h1>

    <h2 class="modal-sub-heading">
      <b ng-bind="(modalTask.important ? 'A' : 'B') + (modalTask.complex ? (modalTask.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modalTask.title"></span>
      <span class="time-label" ng-bind="
modalTask.timeType === 'none' ? 'Ingen tid (syns ej i Att-Göra)' : (
  modalTask.startTime && modalTask.planned ? (
    modalTask.timeType === 'period' ?
      moment(modalTask.startTime).format('D MMM') + ' - ' + moment(modalTask.endTime).format('D MMM') :
      moment(modalTask.startTime).format('D MMM')
  ) :
  ' '
)"></span>
    </h2>

    <div class="divider"></div>

    <div class="reminder-in" ng-init="$hoursIn=null;$minutesIn=30;$now=moment(Date.now())">
      <button class="reminder" ng-click="replan(modalTask, $now.hours()+$hoursIn, $now.minutes()+$minutesIn)">Påminn om</button>
      <span>&nbsp;kl&nbsp;</span>
      <div ida-timepicker model-minutes="$minutesIn" model-hours="$hoursIn"></div>
    </div>
    <div class="reminder-today" ng-init="$hoursToday=moment().hours();$minutesToday=moment().minutes()">
      <button class="reminder" ng-click="replan(modalTask, $hoursToday, $minutesToday)">Påminn idag</button>
      <span>&nbsp;kl&nbsp;</span>
      <div ida-timepicker model-minutes="$minutesToday" model-hours="$hoursToday"></div>
    </div>
    <button class="breakdown"
            ng-show="!modalTask.isChild"
            ng-click="$location.path('/organisera-alla-aktiviteter/' + modalTask.id);setModal('');">
      Dela upp i mindre uppgifter
    </button>
    <button class="postpone" ng-if="modalTask.timeType==='exact'" ng-click="postpone(modalTask, 1)">Skjut upp till samma tid imorgon</button>
    <button class="postpone" ng-if="modalTask.timeType==='period'&&Math.floor(Date.now()/86400000)<Math.floor(modalTask.endTime/86400000)" ng-click="postpone(modalTask, 1)">Skjut upp start till imorgon</button>


<!-- 

    <div class="postpone">
      <button ng-click="postpone(modalTask, daysToPostpone)">Skjut upp start</button>
      <input type="number" ng-init="daysToPostpone=3" ng-model="daysToPostpone">
      <span>dagar</span>
    </div>
    <span class="error"
      ng-bind="Date.now() > (modalTask.endTime || modalTask.startTime) ? 'Slutdatumet är passerat' : 'Det är bara ' + Math.round(((modalTask.endTime || modalTask.startTime) - Date.now()) / 86400000) + ' dagar kvar till slutdatumet'"></span>
    <button class="replan">Planera om</button>
    <button class="breakdown"
            ng-show="!modalTask.isChild"
            ng-click="$location.path('/organisera-alla-aktiviteter/' + modalTask.id);setModal('');">
      Dela upp i mindre uppgifter
    </button>
    <button ng-click="setModal('')" class="cancel-2">Avbryt</button>
 -->  </div>
</div>
