<p>
  <b>Stapeln</b> visar den sammanlagda tiden för alla aktiviteter som du har gett en exakt tid för – 
  den lägger helt enkelt ihop den tidsåtgång du angett för dessa. Om längden ofta är ungefärlig 
  (cirka), så kommer toppen av stapeln att vara mer suddig/diffus då det är svår att säkert säga 
  exakt hur mycket tid du bokat upp dig på. Tider som överlappar varandra räknas bara en gång 
  – har du alltså bokat in 3 saker som börjar kl 14 och pågår en halvtimme kommer stapeln bara 
  visa en halvtimme.
</p>
<p>
  <b>Bollens</b> storlek och färg visar totalt sett hur mycket du har att göra – ju större och rödare desto mer fullpackad är dagen/veckan/månaden. Det går inte att säga exakt vad en boll av en viss 
  storlek och färg betyder, men när du använt IDA ett tag kommer du själv märka var din gräns 
  för vad du klarar av under en dag går. I bollen räknas alltså massa saker in, bland annat:
  <ul>
    <li>Stapelns längd</li>
    <li>Aktiviteter som är inbokade en tidsperiod och som du kanske kommer göra helt eller delvis just då.</li>
    <li>Om aktiviteterna är enklare (B) eller svårare (A) att skjuta upp</li>
    <li>Om det är många aktiviteter som ska göras en viss dag – då blir det mycket tid för att 
    ställa om mellan dem.</li>
  </ul>
</p>
