<div class="delete-task-modal">
  <div>
    <button class="cancel" ng-click="modal.$dismiss()"><i class="fa fa-times"></i></button>

    <h1>Är du säker på att du vill radera aktiviteten?</h1>

    <h2 class="modal-sub-heading">
      <b ng-bind="(modal.task.important ? 'A' : 'B') + (modal.task.complex ? (modal.task.important ? 'A' : 'B') : '') + ':'"></b>
      <span ng-bind="modal.task.title"></span>
    </h2>

    <div class="divider"></div>

    <button class="yes" ng-disabled="modal.$lock" ng-click="$tasks.delete(modal.task.id);modal.$close('one')">Ja, radera aktiviteten</button>
    <button class="yes" ng-disabled="modal.$lock" ng-show="modal.task.repeatTask" ng-click="$tasks.delete(modal.task.id, true);modal.$close('all')">Radera alla återkommande aktiviteter</button>
    <button class="no" ng-disabled="modal.$lock" ng-click="modal.$close()">Avbryt</button>

    <span>Raderade aktiviteter finns kvar på Arkiv-sidan.</span>
  </div>
</div>
