<div class="plan" ng-class="{'help-hidden':!$config.help.plan}">
  <h3 ng-if="!modal.task.parent">Planera aktivitet</h3>
  <h3 ng-if="modal.task.parent">Planera underaktivitet till {{modal.task.parent}}</h3>
  <button class="cancel" ng-click="modal.task.cancel(page);modal.$dismiss()"><i class="fa fa-times"></i></button>

  <input placeholder="Aktivitetens namn" class="task-title" type="text" ng-model="modal.task.title">

  <br><br>

  <div ida-help="templates/help/plan/priority.html" help-title="Aktivitetens prioritet och omfattning" class="priority"><!-- 
     --><button ng-class="{ active: modal.task.complex == false && modal.task.important }" ng-click="modal.task.complex=false;modal.task.important=true;">A</button><!-- 
     --><button ng-class="{ active: modal.task.complex && modal.task.important }" ng-click="modal.task.complex=true;modal.task.important=true;">AA</button><!-- 
     --><button ng-class="{ active: modal.task.complex == false && !modal.task.important }" ng-click="modal.task.complex=false;modal.task.important=false;">B</button><!-- 
     --><button ng-class="{ active: modal.task.complex && modal.task.important == false }" ng-click="modal.task.complex=true;modal.task.important=false;">BB</button></div>

  <br>

  <div ida-help="templates/help/plan/type.html" help-title="När ska aktiviteten göras?" class="type"><!-- 
     --><button ng-class="{ active: modal.task.timeType == 'exact' }" ng-click="modal.task.timeType='exact'">Exakt tid</button><!-- 
     --><button ng-class="{ active: modal.task.timeType == 'period' }" ng-click="modal.task.timeType='period';modal.task.updatePeriodInput();">Tidsperiod</button><!-- 
     --><button ng-class="{ active: modal.task.timeType == 'none' }" ng-click="modal.task.timeType='none'">Ingen tid</button></div>

  <br>

  <div ida-help="templates/help/plan/exact.html" help-title="Välj datum och klockslag" class="exact" ng-show="modal.task.timeType==='exact'">
    <button class="start-time"
            ng-click="setDatepicker('templates/modal.pick_starttime.html')"
            ng-class="{'selected': modal.task.startTime}"
            ng-bind="modal.task.startTime?'Börjar '+moment(modal.task.startTime).format('ddd D MMM YYYY'):'Välj datum och tid'"></button>
    <span>&nbsp;kl&nbsp;</span>
    <div ida-timepicker model-date="modal.task.startTime"></div>
  </div>

  <div ida-help="templates/help/plan/period.html" help-title="Välj tidsperiod" class="period" ng-show="modal.task.timeType == 'period'">
    <label>
      <select ng-change="modal.task.updatePeriodInput()" ng-init="modal.task.timeInputType = modal.task.startTime ? 'exact' : 'today';modal.task.updatePeriodInput();" ng-model="modal.task.timeInputType">
        <option value="today">Görs idag</option><!-- Today -->
        <option value="x-days">Görs inom X dagar</option><!-- Within X days (shows input field below where you enter number of days) -->
        <option value="tomorrow">Görs imorgon</option><!-- Tomorrow -->
        <option value="week">Görs i veckan</option><!-- This week -->
        <option value="next-week">Görs nästa vecka</option><!-- Next week -->
        <option value="month">Görs denna månad</option><!-- This month -->
        <option value="next-month">Görs nästa månad</option><!-- Next month -->
        <option value="three-months">Görs inom tre månader</option><!-- Within three months -->
        <option value="exact">Görs mellan exakta dagar</option><!-- Choose exact days -->
      </select>
    </label>
  </div>

  <div class="within-x-days" ng-show="modal.task.timeType == 'period' && modal.task.timeInputType == 'x-days'">
    Inom <input ng-change="modal.task.updatePeriodInput()" ng-model="modal.task.xDays" type="number" value="1"> dagar
  </div>

  <div ida-help='hidden' class="period" ng-show="modal.task.timeType==='period'">
    <div class="datepickers">
      <button ng-click="setDatepicker('templates/modal.pick_starttimeperiod.html');modal.task.timeInputType='exact'"
              ng-class="{ 'selected': modal.task.startTime }"
              ng-bind="modal.task.startTime ? 'Från '+moment(modal.task.startTime).format('ddd D MMM YYYY') : 'Välj från datum'"></button>

      <button ng-click="setDatepicker('templates/modal.pick_endtime.html');modal.task.timeInputType='exact'"
              ng-class="{ 'selected': modal.task.endTime }"
              ng-bind="modal.task.endTime ? 'Till '+moment(modal.task.endTime).format('ddd D MMM YYYY') : 'Välj till datum'"></button>
    </div>
  </div>

  <br>

  <div ng-show="modal.task.timeType == 'exact' || modal.task.timeType == 'period'">
    <div ida-help="templates/help/plan/duration.html" help-title="Hur lång tid tar aktiviten att göra?" class="duration">
      <div ng-init="$parent.hours=Math.floor((isNumber(modal.task.duration)?modal.task.duration:$config.defaultDuration)/3600000);$parent.minutes = Math.floor(((isNumber(modal.task.duration)?modal.task.duration:$config.defaultDuration)%3600000)/60000)">
        <div class="estimate-toggle" ng-click="modal.task.timeEstimated=!modal.task.timeEstimated">
          <button ng-class="{ active: !modal.task.timeEstimated }">
            Tar exakt
          </button>
          <button ng-class="{ active: modal.task.timeEstimated }">
            Tar cirka
          </button>
        </div>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker="time" model-hours="$parent.hours" model-minutes="$parent.minutes"></div>
      </div>
    </div>
  </div>

  <br>

  <div ng-show="modal.task.timeType=='exact'">
    <div ida-help="templates/help/plan/ereminder.html" help-title="Påminnelse" class="reminder">
      <label>
        <select ng-model="modal.task.reminderTimeAdvance"
                ng-init="modal.task.reminderTimeAdvance=modal.task.reminderTimeAdvance||-1">
          <option value="-1">Ingen påminnelse</option>
          <option value="1">Påminn vid start</option>
          <option value="300000">Påminn 5 minuter innan</option>
          <option value="900000">Påminn 15 minuter innan</option>
          <option value="1800000">Påminn 30 minuter innan</option>
          <option value="3600000">Påminn 1 timme innan</option>
          <option value="7200000">Påminn 2 timmar innan</option>
          <option value="86400000">Påminn 1 dag innan</option>
          <option value="172800000">Påminn 2 dagar innan</option>
          <option value="604800000">Påminn 1 vecka innan</option>
          <option ng-if="modal.task.repeatPeriod==='once'" value="0">Påminn exakt tid</option>
        </select>
      </label>
    </div>
    <div ida-help="hidden" class="reminder">
      <div class="reminder-time" ng-show="modal.task.reminderTimeAdvance==0" ng-init="modal.task.reminderTime=modal.task.reminderTime||Date.now()">
        <button class="exact-reminder" ng-if="modal.task.reminderTimeAdvance==0"
              ng-click="setDatepicker('templates/modal.pick_remindertime.html')"
              ng-class="{'selected':modal.task.reminderTime}"
              ng-bind="modal.task.reminderTime?moment(modal.task.reminderTime).format('D MMMM YYYY'):'Välj datum och tid'"></button>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker model-date="modal.task.reminderTime"></div>
      </div>
      <div ng-if="modal.task.reminderTimeAdvance!=-1" class="alarm-toggle" ng-click="modal.task.shortSignal=!modal.task.shortSignal">
        <button ng-class="{ active: modal.task.shortSignal }">Kort signal</button>
        <button ng-class="{ active: !modal.task.shortSignal }">Långt alarm</button>
      </div>
    </div>

    <div ida-help="templates/help/plan/repeat.html" help-title="Boka in aktivitet många gånger" class="repeated" ng-init="modal.task.repeatPeriod = modal.task.repeatPeriod || 'once'">
      <label>
        <select ng-model="modal.task.repeatPeriod" ng-change="(modal.task.repeatPeriod!=='once'&&modal.task.reminderTimeAdvance==0)?(modal.task.reminderTimeAdvance='-1'):0">
          <option value="once">Upprepas inte</option>
          <option value="daily">Återkommer dagligen</option>
          <option value="weekly">Återkommer veckovis</option>
          <option value="monthly">Återkommer månadsvis</option>
          <option value="yearly">Återkommer årligen</option>
        </select>
      </label>
    </div>
    <div ida-help="hidden" class="repeated"  ng-if="modal.task.repeatPeriod!='once'">
      <div ng-if="modal.task.repeatPeriod!='weekly'">
        <span>Upprepa var</span>
        <input class="period-input" ng-init="modal.task.repeatLength = modal.task.repeatLength || 1"
               ng-model="modal.task.repeatLength"
               type="number">
        <span ng-show="modal.task.repeatPeriod=='daily'">Dag</span>
        <span ng-show="modal.task.repeatPeriod=='weekly'">Veck</span>
        <span ng-show="modal.task.repeatPeriod=='monthly'">Månad</span>
        <span ng-show="modal.task.repeatPeriod=='yearly'">År</span>
        <br>
      </div>
      <div class="weekly-repeat" ng-show="modal.task.repeatPeriod == 'weekly'">
        <div ng-click="modal.task.checkDay(1)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(1) !== -1"></i></div> M
        </div>
        <div ng-click="modal.task.checkDay(2)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(2) !== -1"></i></div> T
        </div>
        <div ng-click="modal.task.checkDay(3)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(3) !== -1"></i></div> O
        </div>
        <div ng-click="modal.task.checkDay(4)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(4) !== -1"></i></div> T
        </div>
        <div ng-click="modal.task.checkDay(5)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(5) !== -1"></i></div> F
        </div>
        <div ng-click="modal.task.checkDay(6)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(6) !== -1"></i></div> L
        </div>
        <div ng-click="modal.task.checkDay(0)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modal.task.repeatDays.indexOf(0) !== -1"></i></div> S
        </div>
      </div>
      <div ng-if="modal.task.repeatPeriod!=='once'" ng-init="modal.task.repeatType=modal.task.repeatType||'week'">
        <label class="repeat-end">
          <select ng-model="modal.task.repeatType"
                  ng-change="">
            <option value="week">Upprepa under 1 vecka</option>
            <option value="month">Upprepa under en månad</option>
            <option value="year">Upprepa under ett år</option>
            <option value="date">Upprepa till en viss dag</option>
          </select>
        </label>
        <div class="repeat-time" ng-if="modal.task.repeatType==='date'">
          <button class="repeat-limit"
                ng-click="setDatepicker('templates/modal.pick_repeattime.html')"
                ng-class="{'selected':modal.task.repeatLimit}"
                ng-bind="modal.task.repeatLimit?moment(modal.task.repeatLimit).format('D MMMM YYYY'):'Välj datum'"></button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="modal.task.timeType=='period'&&modal.task.startTime&&modal.task.endTime">
    <div ida-help="templates/help/plan/preminder.html" help-title="Påminnelse för tidsperioder" class="period-reminder">
      <label class="reminder">
        <select ng-model="modal.task.reminderTimePeriod"
                ng-change="modal.task.reminderTime = modal.task.setReminderTime()"
                ng-init="modal.task.reminderTimePeriod = modal.task.reminderTimePeriod || (modal.task.reminderTime ? 'none' : 'firstDay')">
          <option value="none">Ingen påminnelse</option>
          <option value="firstDay">Påminn första dagen</option>
          <option value="nearFirst">Påminn nära början</option>
          <option value="middle">Påminn i mitten</option>
          <option value="nearLast">Påminn nära slutet</option>
          <option value="lastDay">Påminn sista dagen</option>
          <option value="exact">Påminn exakt tid</option>
        </select>
      </label>
      <div class="reminder-time" ng-init="modal.task.reminderTime = modal.task.reminderTime || Date.now()" ng-hide="modal.task.reminderTimePeriod==='none'">
        <button class="exact-reminder"
              ng-click="setDatepicker('templates/modal.pick_remindertime.html');modal.task.reminderTimePeriod='exact'"
              ng-class="{ 'selected': modal.task.reminderTime }"
              ng-bind="modal.task.reminderTime ? moment(modal.task.reminderTime).format('D MMMM YYYY') : 'Välj datum och tid'"></button>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker model-date="modal.task.reminderTime"></div>
      </div>
    </div>
  </div>

  <br>

  <div ng-show="modal.task.timeType == 'exact'">
    <label ida-help="templates/help/plan/eremove.html" help-title="När flyttas aktiviteten från Att-Göra-listan?" class="show-in-todo">
      <select ng-model="modal.task.showInTodo">
        <option value="until marked as done">Bort när Klar</option>
        <option value="until start time">Bort vid starttid</option>
        <option value="until end of duration">Bort vid sluttid</option>
        <option value="auto complete">Auto-klar vid sluttid</option>
        <option value="never">Syns ej på Att-Göra</option>
      </select>
    </label>
  </div>

  <div ng-show="modal.task.timeType == 'period'">
    <label ida-help="templates/help/plan/premove.html" help-title="När flyttas tidsperiod-aktivieten från Att-Göra?" class="show-in-todo">
      <select ng-model="modal.task.showInTodo">
        <option value="until marked as done">Bort när Klar</option>
        <option value="until end of period">Bort efter tidsperioden</option>
        <option value="auto complete">Autoklar efter tidsperioden</option>
      </select>
    </label>
  </div>

  <br>

  <div ng-show="
    (modal.task.title) &&
    (modal.task.important == true || modal.task.important == false) &&
    (modal.task.complex == true || modal.task.complex == false) &&
    (modal.task.repeatPeriod === 'once' || modal.task.repeatType !=='date' || modal.task.repeatLimit) &&
    (
      (modal.task.timeType == 'exact'&& modal.task.startTime) ||
      (modal.task.timeType == 'period'&& modal.task.startTime && modal.task.endTime) ||
      (modal.task.timeType == 'none')
    )">
    <button class="save" ng-disabled="modal.$lock" ng-click="modal.$close({hours: hours, minutes: minutes}, 100)">Spara</button>
  </div>

</div>
