<div class="plan">
  <h3>Planera aktivitet</h3>
  <button class="cancel" ng-click="modalTask.cancel(page);setModal('')"><i class="fa fa-times"></i></button>

  <input placeholder="Aktivitetens namn" class="task-title" type="text" ng-model="modalTask.title">

  <br><br>

  <div ida-help='templates/modal.help.priority.html' class="priority"><!-- 
     --><button ng-class="{ active: modalTask.complex == false && modalTask.important }" ng-click="modalTask.complex=false;modalTask.important=true;">A</button><!-- 
     --><button ng-class="{ active: modalTask.complex && modalTask.important }" ng-click="modalTask.complex=true;modalTask.important=true;">AA</button><!-- 
     --><button ng-class="{ active: modalTask.complex == false && !modalTask.important }" ng-click="modalTask.complex=false;modalTask.important=false;">B</button><!-- 
     --><button ng-class="{ active: modalTask.complex && modalTask.important == false }" ng-click="modalTask.complex=true;modalTask.important=false;">BB</button></div>

  <br>

  <div ida-help class="type"><!-- 
     --><button ng-class="{ active: modalTask.timeType == 'exact' }" ng-click="modalTask.timeType='exact'">Exakt tid</button><!-- 
     --><button ng-class="{ active: modalTask.timeType == 'period' }" ng-click="modalTask.timeType='period';modalTask.updatePeriodInput();">Tidsperiod</button><!-- 
     --><button ng-class="{ active: modalTask.timeType == 'none' }" ng-click="modalTask.timeType='none'">Ingen tid</button></div>

  <br>

  <div ida-help class="exact" ng-show="modalTask.timeType == 'exact'">
    <button class="start-time"
            ng-click="setDatepicker('templates/modal.pick_starttime.html')"
            ng-class="{ 'selected': modalTask.startTime }"
            ng-bind="modalTask.startTime ? 'Börjar ' + moment(modalTask.startTime).format('D MMMM YYYY') : 'Välj datum och tid'"></button>
    <span>&nbsp;kl&nbsp;</span>
    <div ida-timepicker model-date="modalTask.startTime"></div>
  </div>

  <div ida-help class="period" ng-show="modalTask.timeType == 'period'">
    <label>
      <select ng-change="modalTask.updatePeriodInput()" ng-init="modalTask.timeInputType = modalTask.startTime ? 'exact' : 'today';modalTask.updatePeriodInput();" ng-model="modalTask.timeInputType">
        <option value="today">Görs idag</option><!-- Today -->
        <option value="x-days">Görs inom X dagar</option><!-- Within X days (shows input field below where you enter number of days) -->
        <option value="tomorrow">Görs imorgon</option><!-- Tomorrow -->
        <option value="week">Görs i veckan</option><!-- This week -->
        <option value="next-week">Görs nästa vecka</option><!-- Next week -->
        <option value="month">Görs denna månad</option><!-- This month -->
        <option value="next-month">Görs nästa månad</option><!-- Next month -->
        <option value="three-months">Görs inom tre månader</option><!-- Within three months -->
        <option value="exact">Görs mellan exakta dagar</option><!-- Choose exact days -->
      </select>
    </label>
  </div>

  <div class="within-x-days" ng-show="modalTask.timeType == 'period' && modalTask.timeInputType == 'x-days'">
    Inom <input ng-change="modalTask.updatePeriodInput()" ng-model="modalTask.xDays" type="number" value="1"> dagar
  </div>

  <div class="period" ng-show="modalTask.timeType == 'period'">
    <div class="datepickers">
      <button ng-click="setDatepicker('templates/modal.pick_starttimeperiod.html');modalTask.timeInputType='exact'"
              ng-class="{ 'selected': modalTask.startTime }"
              ng-bind="modalTask.startTime ? 'Från '+moment(modalTask.startTime).format('ddd D MMM YYYY') : 'Välj från datum'"></button>

      <button ng-click="setDatepicker('templates/modal.pick_endtime.html');modalTask.timeInputType='exact'"
              ng-class="{ 'selected': modalTask.endTime }"
              ng-bind="modalTask.endTime ? 'Till '+moment(modalTask.endTime).format('ddd D MMM YYYY') : 'Välj till datum'"></button>
    </div>
  </div>

  <br>

  <div ng-show="modalTask.timeType == 'exact' || modalTask.timeType == 'period'">
    <div ida-help class="duration">
      <div ng-init="$parent.hours = Math.floor(modalTask.duration / 3600000)||undefined;$parent.minutes = Math.floor((modalTask.duration % 3600000) / 60000)||undefined;">
        <div class="estimate-toggle" ng-click="modalTask.timeEstimated=!modalTask.timeEstimated">
          <button ng-class="{ active: !modalTask.timeEstimated }">
            Tar ganska exakt
          </button>
          <button ng-class="{ active: modalTask.timeEstimated }">
            Tar cirka
          </button>
        </div>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker model-hours="$parent.hours" model-minutes="$parent.minutes"></div>
      </div>
    </div>
  </div>

  <br>

  <div ng-show="modalTask.timeType=='exact'">
    <div ida-help class="reminder">
      <label>
        <select ng-model="modalTask.reminderTimeAdvance"
                ng-init="modalTask.reminderTimeAdvance = modalTask.reminderTimeAdvance||-1">
          <option value="-1">Ingen påminnelse</option>
          <option value="1">Påminn vid start</option>
          <option value="300000">Påminn 5 minuter innan</option>
          <option value="900000">Påminn 15 minuter innan</option>
          <option value="1800000">Påminn 30 minuter innan</option>
          <option value="3600000">Påminn 1 timme innan</option>
          <option value="7200000">Påminn 2 timmar innan</option>
          <option value="86400000">Påminn 1 dag innan</option>
          <option value="172800000">Påminn 2 dagar innan</option>
          <option value="604800000">Påminn 1 vecka innan</option>
          <option value="0">Påminn exakt tid</option>
        </select>
      </label>
    </div>
    <div ida-help="hidden" class="reminder">
      <div class="reminder-time" ng-show="modalTask.reminderTimeAdvance==0" ng-init="modalTask.reminderTime=modalTask.reminderTime||Date.now()">
        <button class="exact-reminder" ng-if="modalTask.reminderTimeAdvance==0"
              ng-click="setDatepicker('templates/modal.pick_remindertime.html')"
              ng-class="{'selected':modalTask.reminderTime}"
              ng-bind="modalTask.reminderTime?moment(modalTask.reminderTime).format('D MMMM YYYY'):'Välj datum och tid'"></button>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker model-date="modalTask.reminderTime"></div>
      </div>
    </div>

    <div ida-help class="repeated" ng-init="modalTask.repeatPeriod = modalTask.repeatPeriod || 'once'">
      <label>
        <select ng-model="modalTask.repeatPeriod">
          <option value="once">Upprepas inte</option>
          <option value="daily">Återkommer dagligen</option>
          <option value="weekly">Återkommer veckovis</option>
          <option value="monthly">Återkommer månadsvis</option>
          <option value="yearly">Återkommer årligen</option>
        </select>
      </label>
    </div>
    <div ida-help="hidden" class="repeated"  ng-if="modalTask.repeatPeriod!='once'">
      <div ng-if="modalTask.repeatPeriod!='weekly'">
        <span>Upprepa var</span>
        <input class="period-input" ng-init="modalTask.repeatLength = modalTask.repeatLength || 1"
               ng-model="modalTask.repeatLength"
               type="number">
        <span ng-show="modalTask.repeatPeriod=='daily'">Dag</span>
        <span ng-show="modalTask.repeatPeriod=='weekly'">Veck</span>
        <span ng-show="modalTask.repeatPeriod=='monthly'">Månad</span>
        <span ng-show="modalTask.repeatPeriod=='yearly'">År</span>
        <br>
      </div>
      <div class="weekly-repeat" ng-show="modalTask.repeatPeriod == 'weekly'">
        <div ng-click="modalTask.checkDay(1)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(1) !== -1"></i></div> M
        </div>
        <div ng-click="modalTask.checkDay(2)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(2) !== -1"></i></div> T
        </div>
        <div ng-click="modalTask.checkDay(3)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(3) !== -1"></i></div> O
        </div>
        <div ng-click="modalTask.checkDay(4)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(4) !== -1"></i></div> T
        </div>
        <div ng-click="modalTask.checkDay(5)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(5) !== -1"></i></div> F
        </div>
        <div ng-click="modalTask.checkDay(6)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(6) !== -1"></i></div> L
        </div>
        <div ng-click="modalTask.checkDay(0)">
          <div class="checkbox"><i class="fa fa-check" ng-show="modalTask.repeatDays.indexOf(0) !== -1"></i></div> S
        </div>
      </div>
      <div ng-if="modalTask.repeatPeriod!=='once'" ng-init="modalTask.repeatType=modalTask.repeatType||'week'">
        <label class="repeat-end">
          <select ng-model="modalTask.repeatType"
                  ng-change="">
            <option value="week">Upprepa under 1 vecka</option>
            <option value="month">Upprepa under en månad</option>
            <option value="year">Upprepa under ett år</option>
            <option value="date">Upprepa till en viss dag</option>
          </select>
        </label>
        <div class="repeat-time" ng-if="modalTask.repeatType==='date'">
          <button class="repeat-limit"
                ng-click="setDatepicker('templates/modal.pick_repeattime.html')"
                ng-class="{'selected':modalTask.repeatLimit}"
                ng-bind="modalTask.repeatLimit?moment(modalTask.repeatLimit).format('D MMMM YYYY'):'Välj datum'"></button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="modalTask.timeType=='period'&&modalTask.startTime&&modalTask.endTime">
    <div ida-help class="period-reminder">
      <label class="reminder">
        <select ng-model="modalTask.reminderTimePeriod"
                ng-change="modalTask.reminderTime = modalTask.setReminderTime()"
                ng-init="modalTask.reminderTimePeriod = modalTask.reminderTimePeriod || (modalTask.reminderTime ? 'none' : 'firstDay')">
          <option value="none">Ingen påminnelse</option>
          <option value="firstDay">Påminn första dagen</option>
          <option value="nearFirst">Påminn nära början</option>
          <option value="middle">Påminn i mitten</option>
          <option value="nearLast">Påminn nära slutet</option>
          <option value="lastDay">Påminn sista dagen</option>
          <option value="exact">Påminn exakt tid</option>
        </select>
      </label>
      <div class="reminder-time" ng-init="modalTask.reminderTime = modalTask.reminderTime || Date.now()" ng-hide="modalTask.reminderTimePeriod==='none'">
        <button class="exact-reminder"
              ng-click="setDatepicker('templates/modal.pick_remindertime.html');modalTask.reminderTimePeriod='exact'"
              ng-class="{ 'selected': modalTask.reminderTime }"
              ng-bind="modalTask.reminderTime ? moment(modalTask.reminderTime).format('D MMMM YYYY') : 'Välj datum och tid'"></button>
        <span>&nbsp;kl&nbsp;</span>
        <div ida-timepicker model-date="modalTask.reminderTime"></div>
      </div>
    </div>
  </div>

  <br>

  <div ng-show="modalTask.timeType == 'exact' || modalTask.timeType == 'period'">
    <label ida-help class="show-in-todo">
      <select ng-model="modalTask.showInTodo">
        <option value="until marked as done">Flytta bort när markerats Klar</option>
        <option value="until end of duration">Flytta bort efter tidsperioden</option>
      </select>
    </label>
  </div>

  <br>

  <div ng-show="
    (modalTask.title) &&
    (modalTask.important == true || modalTask.important == false) &&
    (modalTask.complex == true || modalTask.complex == false) &&
    (modalTask.repeatPeriod === 'once' || modalTask.repeatType !=='date' || modalTask.repeatLimit) &&
    (
      (modalTask.timeType == 'exact'&& modalTask.startTime) ||
      (modalTask.timeType == 'period'&& modalTask.startTime && modalTask.endTime) ||
      (modalTask.timeType == 'none' && confirmNoTime)
    )">
    <button class="save" ng-click="saveTask(modalTask, hours, minutes)">Spara</button>
  </div>

</div>
