<div class="settings-page" ng-class="{'help-hidden':!$config.help.setting}">
  <div ida-help>
    <div class="range range-purple">
      <label class="range-label">Adjust ball size</label>
      <i class="icon fa fa-exclamation-circle gray icon-small"></i>
      <input type="range", min="0.5" max="0.8" step="0.1" ng-model="$config.percentageUsableTime" ng-change="$config.save()">
      <i class="icon fa fa-exclamation-circle gray icon-large"></i>
    </div>
  </div>
  <div ida-help>
    <div class="toggle-item">
      <span class="toggle-label">Show weeks in calendar</span>
      <span class="toggle-off">av</span>
      <label class="toggle">
        <input type="checkbox" ng-model="$config.showWeeks" ng-change="$config.save()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
      <span class="toggle-on">på</span>
    </div>
  </div>
  <div ida-help>
    <div class="select-item">
      <span class="select-label">Remind to clean tasks</span>
      <label ng-class="{disabled:!$config.organize}">
        <select ng-model="$config.organize">
          <option value='week'>Every week</option>
          <option value='twoweek'>Every two weeks</option>
          <option value="month">Every month</option>
          <option value="">Never</option>
        </select>
      </label>
    </div>
  </div>

  <div class="separator">Sound setting</div>

  <div ida-help><div ida-sound="Complete" sound-type="task" sound-set="tada"></div></div>
  <div ida-help><div ida-sound="Timer" sound-type="timer" sound-set="clockalarm,clockalarm1,alarm-clock-electric"></div></div>
  <div ida-help><div ida-sound="Reminder" sound-type="reminder" sound-set="little-bells,boxing-fight,monotone-ascending"></div></div>
  <div ida-help><div ida-sound="Focus" sound-type="focus" sound-set="clockalarm"></div></div>
  <div ida-help><div ida-sound="Archive" sound-type="archive" sound-set="applaud,bell-victory"></div></div>
  <div class="separator">Help setting</div>

  <div ida-help>
    <div class="toggle-item">
      <span class="toggle-label">Show in navigation</span>
      <span class="toggle-off">av</span>
      <label class="toggle">
         <input type="checkbox" ng-model="$config.help.nav" ng-change="$config.save()">
         <div class="track">
           <div class="handle"></div>
         </div>
      </label>
      <span class="toggle-on">på</span>
    </div>
  </div>
  <div ida-help>
    <div class="toggle-item">
      <span class="toggle-label">Show in planning</span>
      <span class="toggle-off">av</span>
      <label class="toggle">
         <input type="checkbox" ng-model="$config.help.plan" ng-change="$config.save()">
         <div class="track">
           <div class="handle"></div>
         </div>
      </label>
      <span class="toggle-on">på</span>
    </div>
  </div>
  <div ida-help>
    <div class="toggle-item">
      <span class="toggle-label">Show in setting</span>
      <span class="toggle-off">av</span>
      <label class="toggle">
         <input type="checkbox" ng-model="$config.help.setting" ng-change="$config.save()">
         <div class="track">
           <div class="handle"></div>
         </div>
      </label>
      <span class="toggle-on">på</span>
    </div>
  </div>

  <div class="separator">Danger area</div>

  <div ida-help>
    <button class="clear-all-tasks" ng-click="$events.clear();$popups.clear()">Reset popups and events</button>
  </div>
  <br>
  <div ida-help>
    <button class="clear-all-tasks" ng-click="clearTasks('alla')">Klar alla aktiviteter</button>
  </div>

  <br>
</div>
