<div class="settings-page" ng-class="{'help-hidden':!$config.help.setting}">
  <div ida-help="templates/help/settings/ball.html" help-title="Ökning av bollarnas och staplarnas storlek">
    <label class="range-label">Hur snabbt blir en dag överbokad?</label>
    <div class="range range-purple" ng-init="percentageUsableTime=1-$config.percentageUsableTime">
      <i class="icon fa fa-paper-plane-o gray icon-small"></i>
      <input type="range", min="0.4" max="0.9" step="0.1" ng-model="percentageUsableTime" ng-change="$config.percentageUsableTime=1-percentageUsableTime;$config.save()">
      <i class="icon fa fa-rocket gray icon-small"></i>
    </div>
  </div>
  <div ida-help="templates/help/settings/slope.html" help-title="Större boll mot slutet av period">
    <label class="range-label">Större boll mot slutet av period</label>
    <div class="range range-purple">
      <i class="icon fa fa-circle gray icon-tiny"></i>
      <input type="range", min="0" max="1" step="0.1" ng-model="$config.slope" ng-change="$config.save()">
      <i class="icon fa fa-circle gray"></i>
    </div>
  </div>
  <div ida-help="templates/help/settings/weeks.html" help-title="Visa veckonummer">
    <div class="toggle-item">
      <span class="toggle-label">Visa veckonummer i kalendern</span>
      <span class="toggle-group">
        <span class="toggle-off">Av</span>
        <label class="toggle">
          <input type="checkbox" ng-model="$config.showWeeks" ng-change="$config.save()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <span class="toggle-on">På</span>
      </span>
    </div>
  </div>
  <div ida-help="templates/help/settings/clean.html" help-title="Påminnelse om att rensa aktiviteter">
    <div class="select-item">
      <span class="select-label">Bli påmind om att rensa/planera</span>
      <label for="clean" ng-class="{disabled:!$config.organize}">
        <select id="clean" ng-model="$config.organize">
          <option value='day'>Varje dag</option>
          <option value='week'>Varje vecka</option>
          <option value='twoweek'>Varannan vecka</option>
          <option value="month">Varje månad</option>
          <option value="">Aldrig</option>
        </select>
      </label>
    </div>
  </div>

  <div class="separator">Ljudinställningar</div>

  <div ida-help="templates/help/settings/slong.html" help-title="Vad är Långt alarm?"><div ida-sound="Långt alarm" sound-type="long" sound-set="clockalarm,clockalarm1,alarm-clock-electric"></div></div>
  <div ida-help="templates/help/settings/sshort.html" help-title="Vad är Kort signal?"><div ida-sound="Kort signal" sound-type="short" sound-set="tada"></div></div>
  <div ida-help="templates/help/settings/sfocus.html" help-title="Alarm för Fokuserings-timern"><div ida-sound="Timer i Fokusera på" sound-type="focus" sound-set="clockalarm"></div></div>
  <div ida-help="templates/help/settings/sdone.html" help-title="Ljud för klar aktivtet"><div ida-sound="Aktivitet klar" sound-type="task" sound-set="tada"></div></div>

<!--   <div ida-help><div ida-sound="Timer" sound-type="timer" sound-set="clockalarm,clockalarm1,alarm-clock-electric"></div></div>
  <div ida-help><div ida-sound="Reminder" sound-type="reminder" sound-set="little-bells,boxing-fight,monotone-ascending"></div></div>
  <div ida-help><div ida-sound="Archive" sound-type="archive" sound-set="applaud,bell-victory"></div></div>
 -->
  <div class="separator">Visa hjälptexter</div>

  <div ida-help="templates/help/settings/nav.html" help-title="Hjälptexter i huvudmenyn">
    <div class="toggle-item">
      <span class="toggle-label">I huvudmenyn</span>
      <span class="toggle-group">
        <span class="toggle-off">Av</span>
        <label class="toggle">
          <input type="checkbox" ng-model="$config.help.nav" ng-change="$config.save()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <span class="toggle-on">På</span>
      </span>
    </div>
  </div>
  <div ida-help="templates/help/settings/plan.html" help-title="Hjälptexter i planeringsvyn">
    <div class="toggle-item">
      <span class="toggle-label">När planerar aktivitet</span>
      <span class="toggle-group">
        <span class="toggle-off">Av</span>
        <label class="toggle">
           <input type="checkbox" ng-model="$config.help.plan" ng-change="$config.save()">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
        <span class="toggle-on">På</span>
      </span>
    </div>
  </div>
  <div ida-help="templates/help/settings/settings.html" help-title="Hjälptexter i denna vy för inställningar">
    <div class="toggle-item">
      <span class="toggle-label">I inställningar</span>
      <span class="toggle-group">
        <span class="toggle-off">Av</span>
        <label class="toggle">
           <input type="checkbox" ng-model="$config.help.setting" ng-change="$config.save()">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
        <span class="toggle-on">På</span>
      </span>
    </div>
  </div>

  <div class="separator">Återställ</div>

  <div ida-help="templates/help/settings/popups.html" help-title="Visa avstängde pop-up-rutor">
    <button class="clear-all-tasks" ng-click="$popups.clear()">Återställ frågor</button>
  </div>
  <br>
<!--   <div ida-help>
    <button class="clear-all-tasks" ng-click="clearTasks('alla')">Klar alla aktiviteter</button>
  </div> -->

  <br>
</div>
