<div class="todo-page">

  <form class="add-task">
    <div><input ng-model="newTask" placeholder="Skapa ny aktivitet..."></div>
    <button ng-click="addTask(newTask);newTask=''"><i class="fa fa-plus"></i></button>
  </form>

  <div ng-hide="!$tasks.findWhere({finished:false,planned:false})" class="unplanned">
    <h2><i class="fa fa-inbox"></i> Oplanerat</h2>
    <ul class="todo-list">
      <li class="list-item unplanned"
          ng-repeat="task in $tasks.where({finished:false,planned:false}) | orderBy:['-updated'] track by task.id"
          ida-item="task"></li>
    </ul>
  </div>

  <div class="todo">
    <h2>
      <i class="fa fa-check"></i> Att göra
      <label>
        <select ng-change="getTodoList()" ng-model="$root.todoFilter">
          <option value="today">idag</option>
          <option value="tomorrow">idag och imorgon</option>
          <option value="week">en vecka framöver</option>
        </select>
      </label>
    </h2>
    <ul class="todo-list">
      <li class="list-item" ng-repeat="task in $root.$list track by $index" ida-item="task"></li>
    </ul>
  </div>

</div>
